.dark-theme {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
}

.dark-theme .header-container {
  background-color: var(--black-color);
}

.dark-theme .bookshelf-logo {
  fill: var(--white-color);
}

.dark-theme .menu-burger-icon-open {
  stroke: var(--white-color);
}

.dark-theme .header-nav-link {
  color: var(--white-color);
  fill: var(--white-color);
}

.dark-theme .current {
  color: var(--black-color);
}

.dark-theme .header-container {
  border: 1.5px solid var(--white-color);
}

