<div class="container mobile-menu-modal" id="mobile-menu-modal">
  <div class="mobile-menu-modal-content">
    

    <button class="btn login-btn login-modal" type="button">
      Sign up<svg class="arrow-right" width="20" height="20">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </button>

    <nav class="header-nav header-nav-mobile">
      <ul class="list header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./index.html">HOME</a>
        </li>
        <li class="header-nav-item">
          <a
            class="header-nav-link shopping-list-header"
            href="./shopping-list.html"
            >SHOPPING LIST
            <svg сlass="cart" width="20" height="20">
              <use href="./images/sprite.svg#uil_cart"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <div class="mobile-menu-image-container">
      <img src="./images/modal-window/mobile-menu.png" alt="books" class="mobile-menu-image">
    </div>
  </div>
</div>
