<div class="backdrop is-hidden">
  <div class="modal-box">
    <button class="modal-close-btn" type="button">
      <svg class="x-close" width="12" height="12">
        <use href="./images/sprite.svg#x-close"></use>
      </svg>
    </button>
    <div class="modal-book">
      <!-- <img
        class="modal-img"
        src="./images/modal-window/image-placeholder.jpeg"
        alt="Book cover"
      />
      <div class="modal-info-container">
        <p class="modal-book-name">HELLO BEAUTIFUL</p>
        <p class="modal-book-author">Ann </p>
        <p class="modal-book-desc">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <div class="modal-icons-container">
          <a href="" target="_blank" rel="noopener noreferrer"
            ><picture class="modal-icon">
              <source
                srcset="./images/modal-window/amazon.webp"
                type="image/webp"
              />
              <source
                srcset="./images/modal-window/amazon.png"
                type="image/png"
              />
              <img
                src="./images/modal-window/amazon.png"
                alt="Amazon"
              /> </picture
          ></a>
          <a href="" target="_blank" rel="noopener noreferrer"
            ><picture class="modal-icon">
              <source
                srcset="./images/modal-window/open-book.webp"
                type="image/webp"
              />
              <source
                srcset="./images/modal-window/open-book.png"
                type="image/png"
              />
              <img
                src="./images/modal-window/open-book.png"
                alt="Amazon"
              /> </picture
          ></a>
          <a href="" target="_blank" rel="noopener noreferrer"
            ><picture class="modal-icon">
              <source
                srcset="./images/modal-window/books.webp"
                type="image/webp"
              />
              <source
                srcset="./images/modal-window/books.png"
                type="image/png"
              />
              <img
                src="./images/modal-window/books.png"
                alt="Amazon"
              /> </picture
          ></a>
        </div>
      </div> -->
    </div>
    <button class="btn modal-btn" type="button"></button>
    <p class="modal-info">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
